footer {
    background: #f2f2f2;
    color: #777777 !important;
    padding: 50px 0 20px;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 1% center;
    ul {
        a {
            color: #3d3d3d !important;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.9px;
            padding: 6px 0px !important;
            text-decoration: none;
            display: inline-block;
        }
    }
}
