.menu {
    padding-bottom: 20px !important;
    .nav-link {
        color: #3d3d3d !important;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        padding: 5px 12.5px !important;
        &:hover {
            color: $warning !important;
        }
    }
    .navbar-brand {
        padding-top: 0;
    }
    .navbar-nav {
        padding-top: 10px;
    }
}
.hero {
    .item {
        min-height: 800px;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            content: "";
        }
        .container {
            position: relative;
            z-index: 1;
            height: 100%;
            h2 {
                max-width: 800px;
                margin: 0 auto;
            }
        }
    }
}
