.fw-semibold {
    font-weight: 500;
}
.body-text {
    font-size: 14px;
}
.owl-dots {
    position: absolute;
    bottom: 35px;
    z-index: 1;
    width: 100%;
    text-align: center;
    .owl-dot {
        display: inline-block;
        span {
            display: inline-block;
            background: rgba(255, 255, 255, 0);
            opacity: 1;
            padding: 5px 5px 5px 5px;
            box-shadow: none;
            border-width: 2px;
            border-style: solid;
            border-color: #ffffff;
            border-color: RGBA(255, 255, 255, 0.5);
            border-radius: 50px;
            margin: 4px;
        }
        &.active {
            span {
                background: #ffffff;
                border-width: 2px;
                border-style: solid;
                border-color: #ffffff;
                border-color: rgba(255, 255, 255, 1);
            }
        }
    }
}
.owl-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    span {
        font-size: 40px;
        color: white;
        opacity: 0.6;
    }
}
.owl-next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    span {
        font-size: 40px;
        color: white;
        opacity: 0.6;
    }
}
.country-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    list-style: none;
    overflow: hidden;
    li {
        &.m-3 {
            margin: 0 !important;
            a {
                background-color: $secondary !important;
                color: white !important;
            }
        }
        a {
            position: relative;
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.125);
            width: 100%;
            color: #495057;
            &:hover {
                background-color: $primary;
                color: white !important;
            }
        }
        + li {
            a {
                border-top-width: 0;
            }
        }
    }
}
.item-holder {
    .col-6 {
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #dee2e6 !important;
        margin: 1% !important;
        width: 48%;
        border-radius: 0.25rem !important;
        padding: 1rem !important;
    }
    .col-12 {
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #dee2e6 !important;
        margin: 0 !important;
        width: 100%;
        border-radius: 0.25rem !important;
        padding: 1rem !important;
    }
}
