<template>
    <div class="item-holder p-3">
        <div
            class="row country-data-holder"
            v-if="Object.keys(activeCountryData).length && !processingRequest"
        >
            <div class="col-12 text-left p-3">
                <h3>
                    <img
                        style="width: 70px; margin-right: 20px;"
                        :src="activeCountryData.CountryFlagImageFile"
                    />
                    {{ activeCountryData.CountryName }}
                </h3>
                <div class="basic-details">
                    <p><b>President:</b> {{ activeCountryData.Predident }}</p>
                    <p>
                        <b>Deputy president:</b>
                        {{ activeCountryData.DeputyPresident }}
                    </p>
                    <p v-if="activeCountryData.PrimeMinister">
                        <b>Prime minister:</b>
                        {{ activeCountryData.PrimeMinister }}
                    </p>
                    <p>
                        <b>Capital city:</b> {{ activeCountryData.CapitalCity }}
                    </p>
                    <p>
                        <b>Official languages:</b>
                        {{ activeCountryData.Languages }}
                    </p>
                    <p>
                        <b>Population:</b>
                        {{
                            activeCountryData.Population | getLocalizedAmount
                        }}({{ activeCountryData.PopulationYear }})
                    </p>
                    <p>
                        <b>Area sq. km.:</b>
                        {{ activeCountryData.AreaSqKm | getLocalizedAmount }}
                    </p>
                    <p>
                        <b>GDP per capita:</b>
                        {{
                            activeCountryData.GDPPerCapita | getLocalizedAmount
                        }}({{ activeCountryData.GDPPerCapitaYear }})
                    </p>
                    <p>
                        <b>GDP billion current:</b>
                        {{
                            activeCountryData.GDPBillionCurrent
                                | getLocalizedAmount
                        }}({{ activeCountryData.GDBBillionCurrentYear }})
                    </p>
                    <p>
                        <b>GNI index:</b>
                        {{
                            activeCountryData.GINIIndex | getLocalizedAmount
                        }}({{ activeCountryData.GINIIndexYear }})
                    </p>
                    <p>
                        <b>Ease of doing business rank:</b>
                        {{
                            activeCountryData.EaseOfBusinessRank
                                | getLocalizedAmount
                        }}
                    </p>
                    <p>
                        <b>Social progress index score:</b>
                        {{
                            activeCountryData.SocialProgressIndexScore
                                | getLocalizedAmount
                        }}({{ activeCountryData.SocialProgressIndexRankYear }})
                    </p>
                </div>
            </div>
        </div>
        <div
            class="row"
            v-if="subCategories && subCategories.length && !processingRequest"
        >
            <div class="col-6" v-for="subcategory in subCategories">
                <h5>{{ subcategory.SubCategoryName }}</h5>
                <div
                    v-if="subcategory.variables && subcategory.variables.length"
                >
                    <div v-for="variable in subcategory.variables">
                        <a
                            class="text-decoration-none"
                            href="#"
                            @click.prevent="
                                viewVariableData(variable.VariableID)
                            "
                            >{{ variable.VariableName }}
                        </a>
                    </div>
                </div>
                <div v-else>
                    <h5 class="text-muted">No variables data</h5>
                </div>
            </div>
        </div>
        <div v-if="!subCategories.length && !processingRequest">
            <h5 class="text-muted">No data found</h5>
        </div>
        <div v-if="processingRequest" class="text-center pr-5 fa-2x">
            <i class="fas fa-circle-notch fa-spin mt-5"></i>
        </div>
    </div>
</template>

<script>
export default {
    name: "Categories",
    filters: {
        getLocalizedAmount(number) {
            const recastedNumber = Number(number);
            if (!isNaN(recastedNumber)) {
                return recastedNumber
                    .toLocaleString("en", {
                        maximumFractionDigits: 2
                    })
                    .replace(/\.0+$/, "");
            }
            return number;
        }
    },
    data() {
        return {
            subCategories: [],
            processingRequest: false
        };
    },
    computed: {
        categoryId() {
            return this.$route.params.categoryId;
        },
        activeCountryData() {
            return this.$store.getters.selectedCountry || {};
        }
    },
    watch: {
        categoryId(newCategoryId) {
            if (newCategoryId) {
                this.showSubCategories(newCategoryId);
            }
        }
    },
    mounted() {
        const categoryId = this.$route.params.categoryId;
        this.showSubCategories(categoryId);
    },
    methods: {
        showSubCategories(categoryId) {
            if (categoryId) {
                this.processingRequest = true;
                axios
                    .get(`/api/categories/${categoryId}/sub-categories/fetch`)
                    .then(response => {
                        this.subCategories = response.data.data;
                        this.processingRequest = false;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        viewVariableData(variableId) {
            if (Object.keys(this.activeCountryData).length && variableId) {
                const { CountryID: countryId } = this.activeCountryData;
                this.$router.push({
                    name: "variables",
                    params: {
                        variableId,
                        countryId
                    }
                });
            }
        }
    }
};
</script>

<style scoped></style>
