<template>
    <div class="item-holder p-3">
        <div
            class="row country-data-holder"
            v-if="Object.keys(activeCountryData).length && !processingRequest"
        >
            <div class="col-12 text-left p-3">
                <h3>
                    <img
                        style="width: 70px; margin-right: 20px;"
                        :src="activeCountryData.CountryFlagImageFile"
                    />
                    {{ activeCountryData.CountryName }}
                </h3>
                <div class="basic-details">
                    <p><b>President:</b> {{ activeCountryData.Predident }}</p>
                    <p>
                        <b>Deputy president:</b>
                        {{ activeCountryData.DeputyPresident }}
                    </p>
                    <p v-if="activeCountryData.PrimeMinister">
                        <b>Prime minister:</b>
                        {{ activeCountryData.PrimeMinister }}
                    </p>
                    <p>
                        <b>Capital city:</b> {{ activeCountryData.CapitalCity }}
                    </p>
                    <p>
                        <b>Official languages:</b>
                        {{ activeCountryData.Languages }}
                    </p>
                    <p>
                        <b>Population:</b>
                        {{
                            activeCountryData.Population | getLocalizedAmount
                        }}({{ activeCountryData.PopulationYear }})
                    </p>
                    <p>
                        <b>Area sq. km.:</b>
                        {{ activeCountryData.AreaSqKm | getLocalizedAmount }}
                    </p>
                    <p>
                        <b>GDP per capita:</b>
                        {{
                            activeCountryData.GDPPerCapita | getLocalizedAmount
                        }}({{ activeCountryData.GDPPerCapitaYear }})
                    </p>
                    <p>
                        <b>GDP billion current:</b>
                        {{
                            activeCountryData.GDPBillionCurrent
                                | getLocalizedAmount
                        }}({{ activeCountryData.GDBBillionCurrentYear }})
                    </p>
                    <p>
                        <b>GNI index:</b>
                        {{
                            activeCountryData.GINIIndex | getLocalizedAmount
                        }}({{ activeCountryData.GINIIndexYear }})
                    </p>
                    <p>
                        <b>Ease of doing business rank:</b>
                        {{
                            activeCountryData.EaseOfBusinessRank
                                | getLocalizedAmount
                        }}
                    </p>
                    <p>
                        <b>Social progress index score:</b>
                        {{
                            activeCountryData.SocialProgressIndexScore
                                | getLocalizedAmount
                        }}({{ activeCountryData.SocialProgressIndexRankYear }})
                    </p>
                </div>
            </div>
        </div>
        <div
            class="row"
            v-if="categories && categories.length && !processingRequest"
        >
            <div class="col-4 mt-3" v-for="category in categories">
                <a
                    class="text-decoration-none"
                    href="#"
                    @click.prevent="showSubCategories(category.CategoryID)"
                    >{{ category.CategoryName }}
                </a>
            </div>
        </div>
        <div
            class="row"
            v-if="!categories && !categories.length && !processingRequest"
        >
            <div class="col-12">
                <h6 class="text-muted">No Categories</h6>
            </div>
        </div>
        <div
            v-if="!Object.keys(activeCountryData).length && !processingRequest"
        >
            <h5 class="text-muted">No active country</h5>
        </div>
        <div v-if="processingRequest" class="text-center pr-5 fa-2x">
            <i class="fas fa-circle-notch fa-spin mt-5"></i>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    filters: {
        getLocalizedAmount(number) {
            const recastedNumber = Number(number);
            if (!isNaN(recastedNumber)) {
                return recastedNumber
                    .toLocaleString("en", {
                        maximumFractionDigits: 2
                    })
                    .replace(/\.0+$/, "");
            }
            return number;
        }
    },
    data() {
        return {
            processingRequest: false
        };
    },
    computed: {
        activeCountryData() {
            return this.$store.getters.selectedCountry || {};
        },
        categories() {
            return this.$store.getters.categories;
        }
    },
    mounted() {
        this.fetchCategories();
    },
    methods: {
        ...mapActions([
            "updateCountryList",
            "updateActiveCountry",
            "updateCategories"
        ]),
        fetchCategories() {
            this.processingRequest = true;
            axios
                .get(`/api/categories/fetch`)
                .then(response => {
                    this.updateCategories(response.data.data || {});
                    this.processingRequest = false;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        showSubCategories(categoryId) {
            this.$router.push({
                name: "categories",
                params: {
                    categoryId
                }
            });
        }
    }
};
</script>
