<template>
    <div>
        <div v-if="!processingRequest" class="text-left pr-4 pl-5">
            <div v-if="!showCategories">
                <h5>Countries</h5>
                <div class="country-list list-group">
                    <li v-for="country in allCountries">
                        <a class="list-group-item list-group-item-action" href="#" @click.prevent="fetchCountryData(country.CountryID)"> {{ country.CountryName }} </a>
                    </li>
                </div>
            </div>
            <div v-else>
                <h5>Categories</h5>
                <ul class="country-list">
                    <li class="m-3">
                        <a href="/country-list">Back</a>
                    </li>
                    <li v-for="category in categories">
                        <a href="#" @click.prevent="showSubCategories(category.CategoryID)"> {{ category.CategoryName }} </a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-else class="text-center pr-5 fa-2x">
            <i class="fas fa-circle-notch fa-spin mt-5"></i>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "SideBar",
    props: {
        auth_user: {
            type: String,
            required: false,
        },
        country: {
            type: String,
            required: false,
        },
    },
    data() {
        return {
            processingRequest: false,
        };
    },
    computed: {
        allCountries() {
            return this.$store.getters.allCountries;
        },
        selectedCountry() {
            return this.$store.getters.selectedCountry;
        },
        showCategories() {
            return this.$store.getters.showCategories;
        },
        categories() {
            return this.$store.getters.categories;
        },
    },
    mounted() {
        // if (this.$route.name !== "main") {
        //     this.$router.push({
        //         name: "main",
        //     });
        // }
        if (this.auth_user && this.auth_user !== 'null') {
            const userDetails = JSON.parse(this.auth_user);
            this.updateUserData(userDetails);
        }
        if (this.country && this.country !== 'null') {
            const countryDetails = JSON.parse(this.country);
            const { CountryID } = countryDetails;
            this.fetchCountryData(CountryID)
        }
    },
    methods: {
        ...mapActions(["updateActiveCountry", "updateShowCategories", "updateCategories", "updateUser"]),
        fetchCountryData(countryId) {
            this.processingRequest = true;
            axios
                .get(`/api/country/${countryId}/data`)
                .then((response) => {
                    this.updateActiveCountry(response.data.data[0] || {});
                    this.fetchCategories();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        fetchCategories() {
            axios
                .get(`/api/categories/fetch`)
                .then((response) => {
                    this.updateCategories(response.data.data || {});
                    this.updateShowCategories(true);
                    this.processingRequest = false;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        showSubCategories(categoryId) {
            this.$router.push({
                name: "categories",
                params: {
                    categoryId,
                },
            });
        },
        updateUserData(user) {
            this.updateUser(user);
        }
    },
};
</script>

<style scoped></style>
