<template>
    <div class="item-holder p-3">
        <div class="row" v-show="variableData.length && !processingRequest">

            <div class="col-12" v-if="selectedCountry && variableInfo && Object.keys(variableInfo).length">
                <h5>{{selectedCountry.CountryName}} - {{variableInfo.VariableName}}</h5>
                <p>
                    <span v-if="sortedVariableData[0]">In {{ sortedVariableData[0].Year }},&nbsp;
                        {{selectedCountry.CountryName}}'s {{variableInfo.VariableName}} was {{ sortedVariableData[0].DataPointValue |  getLocalizedAmount }}.&nbsp;
                        <span v-if="sortedVariableData[0].change !== 0">
                            This was a {{ Math.abs(sortedVariableData[0].change) }}% {{ sortedVariableData[0].change > 0 ? `increase` : 'decrease' }}&nbsp;
                            from the previous year.&nbsp;</span>
                    </span>
                    <span v-if="variableInfo.AdditionalText"> {{ variableInfo.AdditionalText }}</span>
                </p>
            </div>

            <div class="col-12 mt-3" v-if="variableInfo.VariableDescription">
                <h6> What is {{ variableInfo.VariableName }}?</h6>
                <p>{{ variableInfo.VariableDescription }}</p>
            </div>
            <div class="col-12 py-3" v-if="user">
                <button class="btn btn-primary" @click="exportCSVData">Export Data</button>
            </div>
            <div class="col-12 py-3" v-else>
                <a class="btn btn-primary" href="/login">Export Data</a>
            </div>
            <div class="col-6">
                <div class="chart-holder">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in sortedVariableData">
                            <td>{{ item.Year }}</td>
                            <td>{{ item.DataPointValue | getLocalizedAmount }}</td>
                            <td>{{ item.change }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" v-show="!variableData.length && !processingRequest">
            <div class="col-12">
                <h5 class="text-muted">No data found</h5>
            </div>
        </div>
        <div class="row" v-show="processingRequest">
            <div class="col-12 text-center pr-5 fa-2x">
                <i class="fas fa-circle-notch fa-spin mt-5"></i>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js';

export default {
    name: "Variable",
    filters: {
        getLocalizedAmount(number) {
            const recastedNumber = Number(number);
            if (!isNaN(recastedNumber)) {
                return recastedNumber
                    .toLocaleString('en', {
                        maximumFractionDigits: 2,
                    })
                    .replace(/\.0+$/, '');
            }
            return number;
        },
    },
    data() {
        return {
            variableData: [],
            processingRequest: false,
            variableInfo: {},
            allVariableData: [],
        };
    },
    computed: {
        selectedCountry() {
            return this.$store.getters.selectedCountry;
        },
        user() {
            return this.$store.getters.user;
        },
        sortedVariableData() {
            if (this.variableData.length) {
                const sortedData = [...this.variableData].sort((a, b) => b.Year - a.Year);
                return sortedData.reduce((allData, item, index) => {
                    if (sortedData[index + 1]) {
                        item.change = (((item.DataPointValue - sortedData[index + 1].DataPointValue) / sortedData[index + 1].DataPointValue) * 100).toFixed(2);
                    } else {
                        item.change = 0.00;
                    }
                    item.description = null;
                    allData.push(item);
                    return allData;
                }, [])
            }
            return [];
        },
        allSortedVariableData() {
            if (this.allVariableData.length) {
                const sortedData = [...this.allVariableData].sort((a, b) => a.Year - b.Year);
                return sortedData.reduce((allData, item, index) => {
                    if (sortedData[index + 1]) {
                        item.change = (((item.DataPointValue - sortedData[index + 1].DataPointValue) / sortedData[index + 1].DataPointValue) * 100).toFixed(2);
                    } else {
                        item.change = 0.00;
                    }
                    allData.push(item);
                    return allData;
                }, [])
            }
            return [];
        }
    },
    mounted() {
        const variableId = this.$route.params.variableId;
        const countryId = this.$route.params.countryId;
        this.showVariableData(variableId, countryId);
    },
    methods: {
        showVariableData(variableId, countryId) {
            if (variableId && countryId) {
                this.processingRequest = true;
                axios.get(`/api/variables/${variableId}/country/${countryId}/fetch`).then((response) => {
                    this.variableData = response.data.data;
                    this.variableInfo = response.data.variable || {};
                    this.processingRequest = false;
                    this.fetchAllData(variableId, countryId);
                }).catch((error) => {
                    console.log(error);
                });
            }
        },
        fetchAllData(variableId, countryId) {
            if (variableId && countryId) {
                this.processingRequest = true;
                axios.get(`/api/variables/${variableId}/country/${countryId}/all`).then((response) => {
                    this.allVariableData = response.data.data;
                    if (response.data.data && response.data.data.length) {
                        this.plotChart();
                    }
                    this.processingRequest = false;
                }).catch((error) => {
                    console.log(error);
                });
            }
        },
        plotChart() {
            // selectedCountry.CountryName}} {{variableInfo.VariableName
            const variableDataSorted = [...this.allSortedVariableData];
            const dataLabels = variableDataSorted.map((variableItem) => variableItem.Year);
            const graphAmounts = variableDataSorted.map((variableItem) => variableItem.DataPointValue || 0);
            const chartData = {
                labels: dataLabels,
                datasets: [
                    {
                        data: graphAmounts,
                        fill: false,
                        borderColor: '#3e95cd',
                        label: 'datasets',
                    },
                ],
            };
            const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            title: () => {
                                return `${this.selectedCountry.CountryName} - ${this.variableInfo.VariableName}`;
                            },
                            label: (context) => {
                                const { xLabel, yLabel } = context;
                                return `${xLabel} - ${yLabel}`
                            }
                        },
                        displayColors: false,
                        titleFont: { style: 'bold' },
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: `${this.variableInfo.yAxisLabel ? this.variableInfo.yAxisLabel : this.variableInfo.VariableName}`,
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: `${this.variableInfo.xAxisLabel ? this.variableInfo.xAxisLabel : 'Year'}`,
                            },
                        }],
                    },
                }
            });
        },
        exportCSVData() {
            if (this.allSortedVariableData && this.allSortedVariableData.length) {
                const dataToExport = JSON.parse(JSON.stringify(this.allSortedVariableData)).reduce((allData, item) => {
                    item.Variable = this.variableInfo.VariableName;
                    item.Country = this.selectedCountry.CountryName;
                    item.Value = item.DataPointValue ? Number(item.DataPointValue).toFixed(2) : 0;
                    item['Percentage change'] = item.change;
                    ['DataPointValue', 'change', 'VariableID', 'CountryID'].forEach((key) => {
                        delete item[key];
                    });
                    allData.push(item);
                    return allData;
                }, []);
                let csvContent = "data:text/csv;charset=utf-8,";
                csvContent += [
                    Object.keys(dataToExport[0]).join(","),
                    ...dataToExport.map(item => Object.values(item).join(","))
                ]
                    .join("\n")
                    .replace(/(^\[)|(\]$)/gm, "");

                const data = encodeURI(csvContent);
                const link = document.createElement("a");
                link.setAttribute("href", data);
                link.setAttribute("download", `${this.selectedCountry.CountryName}_${this.variableInfo.VariableName}_${Date()}_export.csv`);
                link.click();
            }
        },
    },
}
</script>

<style scoped>

</style>
